
<h1>ダッシュボード</h1>

<div class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table id="home-table">
      <tbody>
        <tr>
          <th>AMAZON USA 注文未確定</th>
          <td>10</td>
        </tr>
        <tr>
          <th>AMAZON CA 注文未確定</th>
          <td>3</td>
        </tr>
        <tr>
          <th>AMAZON USA 注文確定未発送</th>
          <td>2</td>
        </tr>
        <tr>
          <th>AMAZON CA 注文未確定未発送</th>
          <td>4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


