
#home-table {
  border: solid gray 1px;
  th {
    border: solid gray 1px;
    padding: 0 2px 0 2px;
  }
  td {
    border: solid gray 1px;
    padding: 0 2px 0 2px;
    text-align: right;
    width: 8em;
  }
}
