
#invoices-new-table {
  border: solid gray 1px;
  th {
    border: solid gray 1px;
  }
  td {
    border: dotted gray 1px;
  }
  .index {
    width: 20px;
    text-align: center;
  }
  .order_id {
  }
  .shop {
  }
}
